h1{
    color: rgb(44, 73, 135);
    font-size: 3em;
    font-weight: 600px;
    border: 4px solid greenyellow;
    text-align: center;
    padding: 10px;
    background-color: bisque;
}
p{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
     border: 4px solid greenyellow;
     padding: 10px;
     background-color: bisque;
}
img{
    border: 4px solid greenyellow;
    padding: 10px;
    background-color: bisque;
}
.pfirstText{
    color: rgb(60, 110, 11);
}
.psecondText{
    color:rgb(60, 110, 11);
}
span{
    color: rgb(88, 72, 165);
}
.thirdText{
    color: rgb(60, 110, 11);
}

git config --global user.name "Mirza Ismail"
