h1 {
  color: blue;
  font-size: 60px;
}
h2 {
  color: blueviolet;
  font-size: 40px;
  font-style: normal;
}
ul {
  color: brown;
  font-size: 35px;
}
h2 {
  color: green;
  font-size: 30px;
}
img {
  border: 5px dashed blueviolet;
}
